@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MuseoModerno', cursive;
    scroll-behavior: smooth;
}

html {
    user-select: none;
}

html::-webkit-scrollbar{
    width: 0.4rem;
    background: black;
}

html::-webkit-scrollbar-thumb{
    background: purple;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    background-color: #4949495e;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: rgba(212, 16, 238, 0.863);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: rgb(212, 16, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: rgba(248, 7, 236, 0.555);
    transition: all 0.3s ease;
}

.highlight {
    border-bottom: 4px solid rgb(220, 4, 248);
}

button {
    background-color: purple;
    color: white !important;
    text-decoration: none !important;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 25px;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .8s;
    margin-right: 20px;
}

/*Hero Section */
.home {
    background-color: #191919;
}

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    text-align: center;
    padding: 30px;
    overflow: hidden;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.hero_container .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.hero_heading {
    font-size: 4.5em;
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
}

.hero_description {
    font-size: 1.5em;
    color: #fff;
    padding-bottom: 40px;
}

.content a{
    margin-top: 10px;
    position: relative;
    background: #fff;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.content a:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

.content a:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

.content a span {
    position: relative;
    z-index: 1;
}

.content a i {
    position: absolute;
    inset: 0;
    display: block;
}

/* About Section */
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img {
    height: auto;
    max-width: 90%;
    width: 420px;
    border-radius: 50%;
    border: purple solid 5px;
}

.main_content {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_content h1 {
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.main_content h2 {
    color: #ffffff;
    background-color: #5a2366;
    border: solid 5px #d76fc2;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding: 10px;
}

.main_content p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.main_content span {
    color: purple;
    text-decoration: none;
}


button:hover{
    background-color: transparent;
    border: 2px solid purple;
    cursor: pointer;
}

/* Education*/
.education {
    width: 100%;
    padding: 100px 0px;
    background-color: #27282c;
}

.education_heading {
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.education img {
    height: auto;
    width: 420px;
    border-radius: 50%;
    border: black solid 5px;
}

.education_content {
    width: 550px;
}

.main_education {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.education_content h1 {
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.education_content h2 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.education_content ul {
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* Skills */
.skills {
    display: flex;
    width: 100%;
    padding: 100px 0px;
    justify-content: center;
    background-color: #191919;
}

.skills_heading {
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.skills_content h2 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
}

.skills-wanted, .skills-developed {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    text-align: center;
    justify-content: center;
}

.skills_content .bx {
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: purple;
}

.skills .bxl-html5:hover {
    background-color: #FF5733;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .bxl-css3:hover {
    background-color: #264de4;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .devicon-bootstrap-plain:hover {
    background-color: #563d7c;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .bxl-javascript:hover {
    background-color: #f0db4f;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .bxl-unity:hover {
    background-color: #222c37;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .bxl-python:hover {
    background: linear-gradient(90deg, #306998 50%, #FFD43B 50%);
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .devicon-mysql-plain:hover {
    background: linear-gradient(90deg, #00758F 50%, #F29111 50%);
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .devicon-laravel-plain-wordmark:hover {
    background-color: #F1502F;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .devicon-git-plain:hover {
    background-color: #F05340;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .devicon-csharp-plain:hover {
    background-color: #682876;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .devicon-nodejs-plain:hover {
    background-color: #68A063;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .devicon-java-plain-wordmark:hover {
    background: linear-gradient(90deg, #f89820 50%, #5382a1 50%);
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .devicon-php-plain:hover {
    background-color: #8993be;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .devicon-react-original:hover {
    background-color: #61DBFB;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .devicon-amazonwebservices-original:hover {
    background-color: #FF9900;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.skills .devicon-blender-original:hover {
    background-color: #EA7600;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

/* Projects */
.projects {
    max-width: 100%;
    padding: 100px 0px;
    background-color: #27282c;
}

.projects_heading {
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.projects_heading span {
    color: purple;
}

.projects-content {
    max-width: 1130px;
    margin: 0 auto;
}

.projects-content img {
    height: 500px;
    width: 500px;
    object-fit: contain;
}

.text-content {
    width: 500px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects-content{
    color: white;
}

.projects-content h2, h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.projects-content p {
    margin-bottom: 20px;
    font-size: large;
    align-items: flex-start;
    height: 300px;
}

.button-container {
    display: flex;
    height: auto;
}

.bx {
    color: white;
}

.made-container {
    display: flex;
}

.devicon-php-plain,
.devicon-python-plain-wordmark,
.devicon-flutter-plain,
.devicon-java-plain-wordmark,
.devicon-css3-plain-wordmark,
.devicon-html5-plain-wordmark,
.devicon-laravel-plain-wordmark,
.devicon-mysql-plain
{
    font-size: 40px;
}

.prev,
.next {
    padding: 16px;
    color: rgb(18, 207, 150);
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s;
    text-decoration: none;
    background: rgb(99, 98, 98);
    cursor: pointer;
    margin-right: 15px;
    border-radius: 0.2rem;
}

.prev:hover,
.next:hover {
    background-color: purple;
}

/* Contact Form */
.contact {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
    text-align: center;
}

.main_contact {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
}

.contact_heading {
    letter-spacing: 12px;
    text-align: center;
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
}

.contact_heading span {
    color: purple;
}

.contact-form {
    max-width: 900px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1.5rem;
}

.message {
    resize: none;
}

.contact-form input,.contact-form textarea{
    border: none;
    outline: 2px solid darkblue;
    font-size: 0.9rem;
    padding: 10px;
    color: rgb(251, 249, 253);
    background: #6335b8c4;
    border-radius: 0.4rem;
}

.contact-form .submit-btn{
    max-width: 900px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: purple;
    cursor: pointer;
}

.contact-form .submit-btn:hover{
    background-color: rgb(18, 207, 150);
    transition: 0.3s all linear;
}

.social {
    display: grid;
    grid-template-columns: repeat(1,2fr);
    align-items: center;
    column-gap: 1rem;
    row-gap: 1.5rem;
    justify-content: space-between;
}

.social .bx {
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: purple;
}

.social .bxl-linkedin-square:hover, .bxl-facebook-circle:hover {
    background-color: rgb(10, 31, 153);
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.social .bxl-youtube:hover, .bxl-pinterest:hover {
    background-color: rgb(241, 8, 8);
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.social .bxl-twitter:hover {
    background-color: rgb(2, 192, 250);
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.social .bxl-github:hover {
    background-color: #171515;
    transition: 0.3s all linear;
    transform: scale(1.5);
}

.social .bxl-instagram:hover {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    transition: 0.3s all linear;
    transform: scale(1.5);
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 4rem;
    padding: 30px 0;
    background: rgba(216, 216, 216, 0.747);
}

.footer p {
    font-size: 1rem;
    color: rgb(12, 12, 12);
}

.footer-links {
    display: flex;
    column-gap: 10rem;
}

.footer-links a{
    font-size: 1rem;
    font-weight: 400;
    color: blueviolet;
}

.footer-links a:hover {
    color: blue;
    transition: 0.3s all linear;
}

/*scroll */

.scroll-top {
    position: fixed;
    bottom: -100%;
    right: 1.5rem;
}

.scroll-top .bx {
    padding: 8px;
    font-size: 1.3rem;
    color: rgb(18, 207, 150);
    background: rgb(99, 98, 98);
    border-radius: 0.2rem;
}

.scroll-top .bx:hover {
    background-color: purple;
    transition: 0.3s;
}

.scroll-active {
    bottom: 2rem;
    transition: 0.3s;
}

@media screen and (max-width: 1300px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active {
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 90vh;
        font-size: 1.6rem;
    }

    .navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 35px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    section {
        max-width: 100%;
        overflow: hidden;
    }

    img {
        max-width: 90%;
    }

    h2, h1 {
        font-size: 15px;
    }

    .education_content h1, .main_content h1, .contact_heading {
        font-size: 10vw;
    }

    .main, .main_education, .main_skills, .main_contact {
        display: flex;
        flex-direction: column;
    }

    .main_content, .education_content,.main_skills,.projects_content, .main_contact    {
        font-size: 20px;
        width: 90%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .projects-content {
        display: flex;
        text-align: center;
    }
    
    .projects-content img {
        height: 400px;
        max-width: 90%;
    }
    
    .projects-content p {
        height: 60vh;
    }
    
    .text-content {
        float: none;
        margin: 0 auto;
        max-width: 95%;
        font-size: medium;
    }
    
    .button-container {
        max-width: 95%;
    }
    
    .social {
        display: flex;
        padding: 20px;
    }
    
    @media screen and (max-width: 700px) {
        .skills-wanted, .skills-developed {
            display: grid;
            grid-template-columns: repeat(4,2fr);
            padding: 20px;
            gap: 1em;
        }
        
    }
    
    @media screen and (max-width: 500px) {
        .social {
            display: grid;
            grid-template-columns: repeat(4,2fr);
            padding: 20px;
        }

        button {
            font-size: 15px;
        }
        
    }
    
    @media screen and (max-width: 400px) {
        button {
            font-size: 15px;
        }
        
    }
    
}